extends layout

block content
    h1 The number of the boulderers is #{boulderers.length}
    each boulderer in boulderers
      p #{boulderer.name} (level: #{boulderer.level}, sessions: #{boulderer.sessions}, id: #{boulderer.id})