extends layout

block content
    h1 The number of the buddy searches is #{buddySearches.length}
    each buddySearch in buddySearches
      p <b> searchId: #{buddySearch.id} </b>
       - var participants = buddySearch.participants
      p #{buddySearch.boulderer.name} is looking for a boulder buddy at #{buddySearch.location.name} for #{buddySearch.date}!
      if participants.length != 0
        p participants are:
        each participant in participants
          li #{participant.name}
        <br>
      else
        p no participants yet.